# Before class

* Make sure you have downloaded the 'musical_instrument_reviews.csv' data file. This is a dataset containing reviews for a product on Amazon (taken from [a larger dataset on Kaggle](https://www.kaggle.com/eswarchandt/amazon-music-reviews)), and we'll be cleaning the data so we can see if customers liked the product or not.

# Outline of class agenda

During this class you'll:

1. Learn how to select data in DataFrames by columns and by rows
2. Learn how to change DataFrame column names
3. Learn how to make new columns and remove columns
4. Learn how to spot missing data in DataFrames and replace it
5. Learn how to sort data in DataFrames
6. Learn how to export data from a DataFrame back to a csv file
7. Get comfortable with the 'data cleaning' process in python overall

# Class

Today we're going to focus on 'data cleaning'. But, what is data cleaning, exactly?
* Any operations you need to do to get your data in shape for analysis, graphs, or presentations
* Typically involves checking the data for correctness, fixing errors, and dealing with missing data
* Might involve selecting only certain parts of larger datasets, or combining multiple datasets

Data cleaning might not always be the most exciting aspect of working with data, but it is *super important* for any projects where you're working with data! It also is something most data scientists spend a [lot of time](https://businessoverbroadway.com/2019/02/19/how-do-data-professionals-spend-their-time-on-data-science-projects/) on


To get started for today, we'll import pandas as usual, then read in a daset on musical instruments from a .csv file

First import pandas

In [3]:
import pandas as pd

Then, read in the csv file using `pd.read_csv()`

In [4]:
reviews = pd.read_csv('../../datasets/musical_instrument_reviews.csv')

Now, let's take a quick look at it:

In [5]:
reviews.head()

,reviewerID,reviewerName,reviewText,overall,summary,reviewTime,reviewWords
0,A2IBPI20UZIR0U,"cassandra tu ""Yeah, well, that's just like, u...","Not much to write about here, but it does exac...",5.0,good,"02 28, 2014",51
1,A14VAT5EAX3D9S,Jake,The product does exactly as it should and is q...,5.0,Jake,"03 16, 2013",104
2,A195EZSQDW3E21,"Rick Bennette ""Rick Bennette""",The primary job of this device is to block the...,5.0,It Does The Job Well,"08 28, 2013",77
3,A2C00NNG1ZQQG2,"RustyBill ""Sunday Rocker""",Nice windscreen protects my MXL mic and preven...,5.0,GOOD WINDSCREEN FOR THE MONEY,"02 14, 2014",35
4,A94QU4C90B1AX,SEAN MASLANKA,This pop filter is great. It looks and perform...,5.0,No more pops when I record my vocals.,"02 21, 2014",28

Before we get started on data cleaning, we can check out a few things about this DataFrame. This contains 500 reviews of a product on Amazon (a screen for a microphone to help with music recording), so with this analysis we can imagine we're trying to figure out whether people seem to like this product, or whether there are certain reasons why people give it negative reviews. 

We have several pieces of data on each review, stored in each column:
* **reviewerID:** a unique ID for each Amazon user who reviewed this product
* **reviewerName:** the username for each reviewer
* **reviewText:** a string containing the text of the entire review
* **overall:** the user's overall rating of the product on a scale from 1-5 stars
* **summary:** the user's summary of their review
* **reviewTime:** the date of the review [day month year]
* **reviewWords:** the number of words in the user's entire review (i.e. number of words in the entry in the `reviewText` column)

## 1. Selecting data in a DataFrame by columns and by rows

Last class, we learned how to select specific cells of DataFrame objects using numeric indexing with `iloc()`, but often it is much more useful to be able to work with columns and rows in different ways. We'll learn a few of those here:

### Selecting columns

There are two methods that are useful for selecting certain columns in a DataFrame.

**Method 1**

The first is using brackets with the column labels inside. This method is really flexible, because we can either select just one column as a Pandas Series object

`reviews['reviewerID']`

Or, we can one or more columns as an entire DataFrame object by using two sets of brackets (so the column labels are a list object


`reviews[['reviewerID']]`

`reviews[['reviewerID', 'overall']]`

**Method 2**

The second method is using `.` to reference a column as an attribute of a DataFrame. This always only gets 1 column of the data frame as a Pandas Series:

`reviews.reviewerID` (this is equivalent to `reviews['reviewerID']`)

The only thing to be aware of for Method 2 is that you can't make *new* columns this way. Colummns referenced with the `.` have to already exist in the DataFrame

**Mini-challenge:** 
1. Select the `overall` column of the `reviews` DataFrame, and save if to the variable 'overall_rating'. Then run `type()` to see what kind of object you get.
2. Make a new DataFrame of the columns `overall` and `reviewWords` and save it into a variable called `df2`. Confirm that it is a DataFrame using `type()`

**Solution:**

In [6]:
# part 1
overall_rating = reviews.overall
type(overall_rating)

pandas.core.series.Series

In [7]:
# part 2
df2 = reviews[['overall', 'reviewWords']]
type(df2)

pandas.core.frame.DataFrame

One more quick trick is that you can also make a list of column names, and then use this list to create a DataFrame with only these columns, for example:

In [8]:
column_list = ['overall', 'reviewText', 'summary']
df3 = reviews[column_list]
df3.head()

,overall,reviewText,summary
0,5.0,"Not much to write about here, but it does exac...",good
1,5.0,The product does exactly as it should and is q...,Jake
2,5.0,The primary job of this device is to block the...,It Does The Job Well
3,5.0,Nice windscreen protects my MXL mic and preven...,GOOD WINDSCREEN FOR THE MONEY
4,5.0,This pop filter is great. It looks and perform...,No more pops when I record my vocals.

Because `column_list` in this example is already a list, we only need 1 set of brackets here to make a DataFrame with these specified columns

### Selecting or 'filtering' rows (based on their content)

So, we've learned how to select only certain columns from a DataFrame. Great! 

One other thing that might be really helpful is only selecting certain *rows*. We saw how to do that last time with `iloc()`, but what might often be more useful is only including rows that with data in them that *fit certain criteria*. Often, we might call this **filtering** the data.

For example, when we're going through these product reviews, we might want to 
* filter the data for reviews that were longer than 50 words
* filter the data for reviews in the year 2014

Generally, we filter rows by applying a [conditional statement](https://www.python-course.eu/python3_conditional_statements.php#:~:text=statements%20in%20Python.-,Conditional%20statements%20in%20Python,should%20be%20executed%20or%20not.&text=The%20indented%20block%20is%20only,condition%20'condition'%20is%20True.) (a logical statement that can return `True` or `False` for each entry) related to a column of the DataFrame

For example, one conditional statement to check if reviews are longer than 50 words could be:

In [9]:
reviews.reviewWords > 50

0       True
1       True
2       True
3      False
4      False
       ...
495    False
496    False
497     True
498    False
499    False
Name: reviewWords, Length: 500, dtype: bool

If we do the conditional statement *by itself* like this, it returns a pandas Series full of `True` and `False` values. For each review, we get `True` if the condition is met (the review was longer than 50 words, or `reviewWords > 50`) and `False` if not.

Now, the *fancy part* comes in when we use this Series of `True` and `False` values to select which rows of whole DataFrame we want. We can use this to take **only the rows of the DataFrame where the condition is met, where the value is `True`** with the following syntax:

In [10]:
reviews_above_50_words = reviews[reviews.reviewWords > 50]

This is a *bunch* of steps in one line of code, but to summarise, what this does is to apply a **condition** to the `reviewWords` column of the DataFrame, which only returns `True` if the numeric value for an entry in that column is above 50. Then, the bracket indexing selects *only* the rows with a value of `True` from `reviews`, and we save that into a new DataFrame object. Let's take a look to confirm that we're only getting rows where the review is over 50 words:

In [11]:
reviews_above_50_words.head()

,reviewerID,reviewerName,reviewText,overall,summary,reviewTime,reviewWords
0,A2IBPI20UZIR0U,"cassandra tu ""Yeah, well, that's just like, u...","Not much to write about here, but it does exac...",5.0,good,"02 28, 2014",51
1,A14VAT5EAX3D9S,Jake,The product does exactly as it should and is q...,5.0,Jake,"03 16, 2013",104
2,A195EZSQDW3E21,"Rick Bennette ""Rick Bennette""",The primary job of this device is to block the...,5.0,It Does The Job Well,"08 28, 2013",77
7,AJNFQI3YR6XJ5,"Fender Guy ""Rick""",I now use this cable to run from the output of...,3.0,Didn't fit my 1996 Fender Strat...,"11 16, 2012",167
10,A2NYK9KWFMJV4Y,"Mike Tarrani ""Jazz Drummer""","Monster makes a wide array of cables, includin...",5.0,One of the best instrument cables within the b...,"04 19, 2012",190

**Mini-challenge:**

In a similar way to what we just did, filter `reviews` to make a new DataFrame called `good_reviews` with only `overall` scores of 4 or higher.

**Solution**

In [12]:
good_reviews = reviews[reviews.overall >= 4]

We can use the describe() function to check that the minumum value in the overall column is a 4

In [15]:
good_reviews.describe()

          overall  reviewWords
count  451.000000   451.000000
mean     4.725055    86.119734
std      0.446982   107.781997
min      4.000000     7.000000
25%      4.000000    30.000000
50%      5.000000    49.000000
75%      5.000000    90.500000
max      5.000000   915.000000

## 3. Adding and removing DataFrame columns

Often we'll want to add new columns to our DataFrame to make new useful variables, or remove columns we're not using. Let's learn how to do both here!

**Adding a new column**

In general, we can add new columns using the `df['column_name']` syntax just as if we were working with existing columns. 

As an example, maybe we want to make a new column that indicates if a review was especially long (over 500 words) called `long_review`.

In [25]:
reviews['long_review'] = reviews.reviewWords > 100

## Topic 2


Here is a great sentence with some text for the lesson, as well as inline code like `print('hello world)` or `git status`

# Challenge

For this challenge in this class, make an awesome python function!